/* src/components/Login.module.css */
.wrapper {
    background-color: #f9f9f9;
    /* Light background to differentiate the login box */
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

    .form {
        width: 100%;

        .button {
            margin-top: 1rem;
        }
    }
}